
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F5F8FF;
}
section{
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.text-center{
    text-align: center;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn{
  background-color: #4E47FF;
  color: #ffffff;
  padding: 12px 36px; 
  border: none; 
  border-radius: 5px;
}
.btn:hover,.form-btn:hover{
  background-color: #25129f;
  color: white;
}
.form-btn{
  width: 100%;
  max-width: 497px;
  background-color: #4E47FF;
  color: #ffffff;
  padding: 12px 36px; 
  border: none; 
  border-radius: 5px;
  box-sizing: border-box;
}

header{
  background: url("../Assets/Hero-bg.png") no-repeat center center;
  background-size: cover;
  height: 698px;
  position: relative;
}
.cod{
  font-weight: 800;
}
/* Navbar Design */
.navbar{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.navbar h1{
  font-weight: bolder;
  font-size: 34px;
  color: #4E47FF;
}
/* Banner */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  width: 905px;
  height: auto;
  margin: 0 auto;
}
.banner h1{
  font-weight: bold;
  font-size: 65px;
  color: #252432;
  padding-bottom: 37px;
}

.act{
  margin: 116px auto;
  display: flex;
  justify-content: center;
}
.act-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
  width: 1140px;
  margin: 0 auto;
}
.act-left-side h1{
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  margin-bottom: 23px;
}
.act-left-side p{
  font-weight: 400;
  font-size: 24px;
  line-height:30px;
  color: #252432;
  margin-bottom: 23px;
}
.act-right-side img{
  max-width: 403px;
  height: 328px;
  border-radius: 48px;
}
.Joined{
  background-color: rgba(78,71,255,0.1);
  padding: 50px 0px;
  text-align: center;
  border-radius: 24px;
  width: 1140px;
  margin: 0 auto;
  }
  .Joined h1 {
  font-weight: bold;
  font-size: 38px;
  color: #252432;
  margin-bottom: 40px;
  }
  .Num-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .Num-ID h2 {
  font-size: 80px;
  color: #4E47FF;
  margin: 0;
  }
  .Num-ID p {
  font-size: 20px;
  color: rgba(0,0,0,0.5);
  margin: 5px 0 0;
  }
.customers-section {
  text-align: center;
  margin: 137px auto;
}
.customers-section h2 {
  font-weight: bold;
  font-size: 42px;
  color:#252432 ;
  margin-bottom: 50px;
}
.id-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.id-card {
  background-color: #fff;
  border: 1px solid #f2eded;
  border-radius: 14px;
  padding: 24px;
  width: 300px;
  text-align: left;
}
.stars {
  color: #FFB805;
  font-size: 24px;
  margin-bottom: 24px;
}
.id-card h3 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 700;
}
.id-card p {
  font-size: 16px;
  color: #444;
  margin-bottom: 24px;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reviewer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.reviewer .date {
  font-size: 12px;
  color: #999;
}
.better{
  margin: 116px auto 90px;
}
.better-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  padding: 150px;
  margin: 71px auto;
  border-radius: 14px ;
}
.better-content{
  margin: 20px auto;
}
.better-content h1{
  font-weight: bold;
  font-size: 50px;
  line-height: 120%;
  padding-bottom: 20px;
}
.better-content p{
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}
.better-image img{
  max-width: 840px;
  border-radius: 48px;
}
.get{
  margin: 0 auto;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
}
.left-side{
  flex: 1;
  max-width: 528px;
  height: 232px;
}
.section-title {
  font-size: 97px;
  font-weight: bold;
  text-align: left;
  line-height: 120%;
}
.right-side {
  flex: 1;
  max-width: 497px;
  padding: 30px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-bottom: 8px;
}
.form-group input,.form-group textarea {
  width: 100%;
  padding: 20px 32px;
  font-size: 16px;
  border: 1px solid #d6dded;
  border-radius: 10px;
  box-sizing: border-box;
}
.form-group textarea {
  resize: vertical;
  min-height: 100px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  background-color: #FFFFFF;
  height:428px;

}
.logo {
  font-weight: bolder;
  font-size: 80px;
  color: #4E47FF;
  margin-bottom: 10px;
  align-items: center;
}
.tagline {
  color: #8987A1;
  font-size: 18px;
  max-width: 600px;
  text-align: center;
}
.nav {
  margin-top: 20px;
}
.nav a {
  color: #8987a1;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}
.nav a:hover {
  color: #4E47FF;
}
/* First-Web-Assignment */